@model EntityLayer.Concrete.Hizmetler

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Section: page title -->
<section class="page-title layer-overlay section-typo-light bg-img-center" data-tm-bg-img="/images/bg/bg1.jpg">
    <div class="container pt-90 pb-90">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="title">Hizmet Başlığı</h2>
                    <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                        <div class="breadcrumbs">
                            <span><a href="/Anasayfa" rel="home">Ana Sayfa</a></span>
                            <span><i class="fa fa-angle-right"></i></span>
                            <span><a href="#">Hizmetler</a></span>
                            <span><i class="fa fa-angle-right"></i></span>
                            <span class="active">Hizmet Başlığı</span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: home End -->
<!-- Section: Campaign details -->
<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="tm-sidebar-nav-menu-style2">
                            <div class="widget widget_nav_menu">
                                <ul>
                                    <li class="active"><a href="#">Hizmet 1</a></li>
                                    <li><a href="#">Hizmet 2</a></li>
                                    <li><a href="#">Hizmet 3</a></li>
                                    <li><a href="#">Hizmet 4</a></li>
                                    <li><a href="#">Hizmet 5</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget_text text-center">
                            <div class="textwidget">
                                <div class="section-typo-light bg-theme-colored1 mb-md-40 p-30 pt-40 pb-40">
                                    <img class="size-full wp-image-800 aligncenter" src="/images/headphone-128.png" alt="images" width="128" height="128">
                                    <h4>Bize Ulaşın!</h4>
                                    <h5>0 262 351 29 66</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9">
                    <img alt="images" src="/HizmetResimleri/@Model.HizmetlerImage">
                    <h3 class="mt-20 mb-10">@Model.HizmetlerBaslik</h3>
                    <p>@Model.HizmetlerAcıklama</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Divider -->
