@model List<EntityLayer.Concrete.Hizmetler>

<section data-tm-bg-color="#f4f3ef">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="tm-sc-section-title section-title mb-0 pr-70 pr-lg--0 mb-md-40">
                        <div class="title-wrapper mb-0">
                            <div class="title-icon-img">
                                <img src="/images/icon.png" alt="Image">
                            </div>
                            <h2 class="title">Hizmetlerimiz</h2>
                            <p class="paragraph mb-0">Detaylara önem veren profesyonel ekibimiz ile hizmetinize odaklandık.</p>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-8">                                        
                    <div class="causes-carousel-current-style1">
                        <div class="tm-owl-carousel-2col owl-carousel owl-theme" data-autoplay="false" data-loop="true" data-duration="6000" data-smartspeed="300" data-margin="30" data-stagepadding="20" data-nav="true">
                            @foreach (var x in Model)
                            {
                            <div class="item">
                                <div class="causes-item-current-style1">
                                    <div class="causes-item">
                                        <div class="causes-thumb">
                                            <img src="@x.HizmetlerImage" alt="Image" class="w-100">
                                        </div>
                                        <div class="causes-details">
                                            <h5 class="causes-title mt-0 mb-20"><a href="#">@x.HizmetlerBaslik</a></h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                    
                </div>
           
            </div>
        </div>
    </div>
    <div class="tm-floating-objects">
        <span class="floating-object-1" data-tm-bg-img="/images/shape/causes-06.png" data-tm-width="382" data-tm-height="440" data-tm-top="auto" data-tm-bottom="-4px" data-tm-left="25" data-tm-opacity="1"></span>
    </div>
</section>