@model List<EntityLayer.Concrete.Belgeler>


<section class="page-title layer-overlay section-typo-light bg-img-center" data-tm-bg-img="/images/bg/bg1.jpg">
    <div class="container pt-90 pb-90">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="title">Belgeler</h2>
                    <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                        <div class="breadcrumbs">
                            <span><a href="/Anasayfa" rel="home">Anasayfa</a></span>

                            <span><i class="fa fa-angle-right"></i></span>
                            <span class="active">Belgelerimiz</span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: home End -->
<!-- Section: Service -->
<section>
    <div class="container pb-70">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="tm-sc-gallery tm-sc-gallery-grid gallery-style1-basic">

                        <!-- End Isotope Filter -->
                        <!-- Isotope Gallery Grid -->
                        <div id="gallery-holder-618422" class="isotope-layout grid-3 gutter-15 clearfix lightgallery-lightbox">
                            <div class="isotope-layout-inner">
                                <!-- Isotope Item Start -->
                                @foreach(var x in Model){
                                <div class="isotope-item cat1">
                                    <div class="isotope-item-inner">
                                        <div class="tm-gallery">
                                            <div class="tm-gallery-inner">
                                                <div class="thumb">
                                                    <a href="#">
                                                        <img width="672" height="448" src="@x.BelgeImage" class="" alt="">
                                                    </a>
                                                </div>
                                                <div class="tm-gallery-content-wrapper">
                                                    <div class="tm-gallery-content">
                                                        <div class="tm-gallery-content-inner">
                                                            <div class="icons-holder-inner">
                                                                <div class="styled-icons icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="@x.BelgeAcilirImage" data-src="@x.BelgeAcilirImage" title="Gallery 1" href="@x.BelgeAcilirImage"><i class="fa fa-plus"></i></a>

                                                                </div>
                                                            </div>
                                                            <div class="title-holder">
                                                                <h5 class="title"><a href="#"></a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                                <!-- Isotope Item End -->
                                <!-- Isotope Item Start -->
                                
                                <!-- Isotope Item End -->

                            </div>
                        </div>
                        <!-- End Isotope Gallery Grid -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




