@model List<EntityLayer.Concrete.Blog>
<section class="bg-img-right-top bg-img-cover bg-img-no-repeat" data-tm-bg-img="/images/bg/bg1.png">
    <div class="container">
        <div class="section-content">
            <div class="row">
                @foreach (var x in Model)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-current-style1 mb-lg-30">
                            <article class="post">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <div class="post-thumb-inner">
                                            <div class="thumb">
                                                <img class="w-100" src="/HaberResimleri/@x.BlogImage" alt="Image">
                                            </div>

                                            <div class="meta-date">@x.BlogTarih</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <h6 class="entry-title mt-0"><a href="/NewsDetails/Index/@x.BlogID">@x.BlogBaslik</a></h6>
                                    <div class="post-btn-readmore"><a href="/NewsDetails/Index/@x.BlogID" class="btn btn-plain-text-with-arrow">Haberin Ddevamı</a></div>
                                </div>
                            </article>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
