@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Section: home Start -->
@*@await Component.InvokeAsync("AnaSliderList")
*@
<!-- Section: home End -->
<!-- Section: About -->

@await Component.InvokeAsync("HakkımdaList")

@await Component.InvokeAsync("HizmetlerimizList")


<!-- Section: Campaigns -->
@await Component.InvokeAsync("AltSliderList")
<!-- Start Divider -->
@await Component.InvokeAsync("HaberlerList")

<!-- Section: News & Blog -->

<!-- Start Divider -->
<section data-tm-bg-color="#f4f3ef">
    <div class="container pt-80 pb-80">
        <div class="section-content pt-1">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tm-sc-clients tm-sc-clients-carousel owl-dots-light-skin owl-dots-center clients-animation-grayscale">
                        <div class="owl-carousel owl-theme tm-owl-carousel-5col" data-autoplay="true" data-loop="true" data-duration="6000" data-smartspeed="300" data-margin="120" data-stagepadding="0" data-laptop="4">
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/1.png' alt='Image'> </a></div>
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/2.png' alt='Image'> </a></div>
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/3.png' alt='Image'> </a></div>
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/4.png' alt='Image'> </a></div>
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/5.png' alt='Image'> </a></div>
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/6.png' alt='Image'> </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        </div>
<!-- end main-content -->
