
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Section: home Start -->
<section id="home">
    <div class="container-fluid p-0">
        <div class="row">

        </div>
    </div>
</section>
<!-- Section: home End -->
<!-- Section: About -->
<section>
    <div class="container pt-0">
        <div class="section-content about-current-theme-style1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-image-layer1 rs-about-image-layer1" style="margin-top:60px!important">
                        <div class="about-thumb">
                            <img src="/images/about/about1.jpg" alt="Image">
                        </div>
                        <div class="trusted-number">
                            <p>Tecrübe</p>
                            <h4 class="number m-0">20 Yıl</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content pr-30 pl-30 pl-md--0 pr-md--0" data-tm-padding-top="55">
                        <div class="tm-sc-section-title section-title mb-50">
                            <div class="title-wrapper mb-0">
                                <div class="title-icon-img">
                                    <img src="/images/icon.png" alt="Image">
                                </div>
                                <h2 class="title">Kurumsal</h2>
                                <p class="paragraph mb-0">
                                    6331 Sayılı İş Sağlığı ve Güvenliği Kanunu’nun gerekliliklerine göre risk değerlendirmesini, tehlikelerin tanımlaması, tehlikelerin ortadan kaldırılması ve risklerin kontrol altına alınmasını sağlamak için çalışmalar ve eğitimler yapmak amacıyla ve bünyemizde bulunan iş güvenliği uzmanları, işyeri hekimleri ve diğer sağlık personelleri ile kurumların iş güvenliği uzmanı, işyeri hekimi ve sağlık personeli ihtiyaçlarını tek birimden çözmek için kurulmuş ve Çalışma ve Sosyal Güvenlik Bakanlığı tarafından yetkilendirilmiştir.

                                </p>
                            </div>
                        </div>
                        <a href="#" class="btn btn-lg btn-theme-colored1 btn-flat">Devamı</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-floating-objects">
        <span class="floating-object-1" data-tm-bg-img="/images/shape/about-01.png" data-tm-width="256" data-tm-height="349" data-tm-top="auto" data-tm-bottom="-8" data-tm-left="75" data-tm-opacity="1"></span>
        <span class="floating-object-2 tm-animation-floating" data-tm-bg-img="/images/shape/about-02.png" data-tm-width="90" data-tm-height="80" data-tm-top="150" data-tm-bottom="auto" data-tm-left="180" data-tm-opacity="1"></span>
        <span class="floating-object-3" data-tm-bg-img="/images/shape/about-03.png" data-tm-width="174" data-tm-height="258" data-tm-top="auto" data-tm-bottom="0" data-tm-right="100" data-tm-left="auto" data-tm-opacity="1"></span>
        <span class="floating-object-4 tm-animation-slide-horizontal" data-tm-bg-img="/images/shape/about-04.png" data-tm-width="90" data-tm-height="80" data-tm-top="40%" data-tm-bottom="auto" data-tm-right="120" data-tm-left="auto" data-tm-opacity="1"></span>
    </div>
</section>



<!-- Section: Campaigns -->
<section data-tm-bg-color="#f4f3ef">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="tm-sc-section-title section-title mb-0 pr-70 pr-lg--0 mb-md-40">
                        <div class="title-wrapper mb-0">
                            <div class="title-icon-img">
                                <img src="/images/icon.png" alt="Image">
                            </div>
                            <h2 class="title">Hizmetlerimiz</h2>
                            <p class="paragraph mb-0">Detaylara önem veren profesyonel ekibimiz ile hizmetinize odaklandık.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="causes-carousel-current-style1">
                        <div class="tm-owl-carousel-2col owl-carousel owl-theme" data-autoplay="false" data-loop="true" data-duration="6000" data-smartspeed="300" data-margin="30" data-stagepadding="20" data-nav="true">
                            <div class="item">
                                <div class="causes-item-current-style1">
                                    <div class="causes-item">
                                        <div class="causes-thumb">
                                            <img src="/images/causes/c01.jpg" alt="Image" class="w-100">
                                        </div>
                                        <div class="causes-details">
                                            <h5 class="causes-title mt-0 mb-20"><a href="#">Eco System for Global Warnings</a></h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="causes-item-current-style1">
                                    <div class="causes-item">
                                        <div class="causes-thumb">
                                            <img src="/images/causes/c02.jpg" alt="Image" class="w-100">
                                        </div>
                                        <div class="causes-details">
                                            <h5 class="causes-title mt-0 mb-20"><a href="#">Let’s Fight for Save Animals</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="causes-item-current-style1">
                                    <div class="causes-item">
                                        <div class="causes-thumb">
                                            <img src="/images/causes/c03.jpg" alt="Image" class="w-100">
                                        </div>
                                        <div class="causes-details">
                                            <h5 class="causes-title mt-0 mb-20"><a href="#">Let’s Fight for Global Warnings</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-floating-objects">
        <span class="floating-object-1" data-tm-bg-img="/images/shape/causes-06.png" data-tm-width="382" data-tm-height="440" data-tm-top="auto" data-tm-bottom="-4px" data-tm-left="25" data-tm-opacity="1"></span>
    </div>
</section>

<!-- Start Divider -->
<section class="text-center bg-img-cover bg-img-center-top" data-tm-bg-img="/images/bg/bg1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 m-auto text-center">
                <div class="m-auto mb-25" data-tm-width="75" data-tm-height="63" data-tm-bg-img="/images/icons/heart01.png"></div>
                <h2 class="text-white rs-divider-title font-weight-900 mb-40 mt-0">Tüm Çalışmalarımız daha Güvenli ve Sağlıklı çalışma ortamı sağlabilmek için. </h2>
            </div>
        </div>
    </div>
</section>


<!-- Section: News & Blog -->
<section data-tm-bg-color="#fff">
    <div class="section-content mt-lg--0 pt-lg--0">
        <div class="container">
            <div class="tm-sc-section-title section-title text-center mb-50">
                <div class="row">
                    <div class="col-lg-5 m-auto">
                        <div class="title-wrapper mb-0">
                            <div class="title-icon-img line-height-1">
                                <img src="/images/icon.png" alt="Image">
                            </div>
                            <h2 class="title">Bizden Haberler</h2>
                            <p class="paragraph mb-0">Sektöre ait haberlere bu alandan erişebilirsiniz. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="blog-current-style1 mb-lg-30">
                        <article class="post">
                            <div class="entry-header">
                                <div class="post-thumb">
                                    <div class="post-thumb-inner">
                                        <div class="thumb">
                                            <img class="w-100" src="/images/blog/1.jpg" alt="Image">
                                        </div>

                                        <div class="meta-date">05.01.2023</div>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-content">
                                <h6 class="entry-title mt-0"><a href="/HaberDetay">Eco System Responsible For Wind Generators</a></h6>
                                <div class="post-btn-readmore"><a href="/HaberDetay" class="btn btn-plain-text-with-arrow">Haberin Ddevamı</a></div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-current-style1 mb-lg-30">
                        <article class="post">
                            <div class="entry-header">
                                <div class="post-thumb">
                                    <div class="post-thumb-inner">
                                        <div class="thumb">
                                            <img class="w-100" src="/images/blog/2.jpg" alt="Image">
                                        </div>

                                        <div class="meta-date">06.01.2023</div>
                                    </div>
                                </div>
                                -
                            </div>
                            <div class="entry-content">
                                <h6 class="entry-title mt-0"><a href="/HaberDetay">Eco System Responsible For Green Energy</a></h6>
                                <div class="post-btn-readmore"><a href="/HaberDetay" class="btn btn-plain-text-with-arrow">Haberin Ddevamı</a></div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-current-style1 mb-30">
                        <article class="post">
                            <div class="entry-header">
                                <div class="post-thumb">
                                    <div class="post-thumb-inner">
                                        <div class="thumb">
                                            <img class="w-100" src="/images/blog/1.jpg" alt="Image">
                                        </div>

                                        <div class="meta-date">05.01.2023</div>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-content">
                                <h6 class="entry-title mt-0"><a href="/HaberDetay">Eco System Responsible For Wind Generators</a></h6>
                                <div class="post-btn-readmore"><a href="/HaberDetay" class="btn btn-plain-text-with-arrow">Haberin Ddevamı</a></div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tm-floating-objects">
        <span class="floating-object-1" data-tm-bg-img="/images/shape/blog-01.png" data-tm-width="185" data-tm-height="253" data-tm-top="auto" data-tm-bottom="-6" data-tm-left="75" data-tm-opacity="1"></span>
        <span class="floating-object-2 tm-animation-floating" data-tm-bg-img="/images/shape/blog-02.png" data-tm-width="90" data-tm-height="80" data-tm-top="440" data-tm-bottom="auto" data-tm-left="180" data-tm-opacity="1"></span>
        <span class="floating-object-3" data-tm-bg-img="/images/shape/blog-03.png" data-tm-width="136" data-tm-height="201" data-tm-top="auto" data-tm-bottom="0" data-tm-right="100" data-tm-left="auto" data-tm-opacity="1"></span>
    </div>
</section>

<!-- Start Divider -->
<section data-tm-bg-color="#f4f3ef">
    <div class="container pt-80 pb-80">
        <div class="section-content pt-1">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tm-sc-clients tm-sc-clients-carousel owl-dots-light-skin owl-dots-center clients-animation-grayscale">
                        <div class="owl-carousel owl-theme tm-owl-carousel-5col" data-autoplay="true" data-loop="true" data-duration="6000" data-smartspeed="300" data-margin="120" data-stagepadding="0" data-laptop="4">
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/1.png' alt='Image'> </a></div>
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/2.png' alt='Image'> </a></div>
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/3.png' alt='Image'> </a></div>
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/4.png' alt='Image'> </a></div>
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/5.png' alt='Image'> </a></div>
                            <div class="item"> <a target="_blank" href="#"> <img src='/images/clients/6.png' alt='Image'> </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        </div>
<!-- end main-content -->
