@model NLayeredArchitecture.Areas.Admin.Models.SloganDuzenle

@{
    ViewData["Title"] = "AltSliderDüzenle";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header border-0">
            <h3 class="mb-0">Slogan Güncelleme Sayfası</h3>
        </div>
        <div class="card-body">
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Slogan ID</label>
                    @Html.TextBoxFor(x => x.AltSliderID, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Başlık</label>
                    @Html.TextBoxFor(x => x.SliderBaslik.Substring(0,50), new { @class = "form-control",})
                </div>
                 <div class="form-group">
                    <label>Slogan Resmi</label>
                    <input type="file" asp-for="ImageFile">

                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <button class="btn btn-dark">İptal</button>
            </form>
        </div>
    </div>
</div>

