
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Section: page title -->
<section class="page-title layer-overlay section-typo-light bg-img-center" data-tm-bg-img="/images/bg/bg1.jpg">
    <div class="container pt-90 pb-90">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="title">Haber Başlığı</h2>
                    <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                        <div class="breadcrumbs">
                            <span><a href="/Anasayfa" rel="home">Anasayfa</a></span>
                            <span><i class="fa fa-angle-right"></i></span>
                            <span><a href="#">Haberler</a></span>
                            <span><i class="fa fa-angle-right"></i></span>
                            <span class="active">Haber Başlığı</span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: home End -->
<!-- Section: Blog -->
<section>
    <div class="container mt-30 mb-30 pt-30 pb-30">
        <div class="row">
            <div class="col-sm-9">
                <div class="blog-posts single-post">
                    <article class="post clearfix mb-0">
                        <div class="entry-header mb-30">
                            <div class="post-thumb thumb"> <img src="/images/bg/slide1.jpg" alt="images" class="img-responsive img-fullwidth"> </div>
                            <h3 class="mt-30">Haber Başlığı</h3>
                            <div class="entry-meta mt-0">
                                <span class="mb-10 text-gray mr-10"><i class="far fa-calendar-alt mr-10 text-theme-colored1"></i>07.01.2023</span>
                            </div>
                        </div>
                        <div class="entry-content">
                            <p>Nostra dapibus varius et semper semper rutrum ad risus felis eros. Cursus libero viverra tempus netus diam vestibulum lorem tincidunt congue porta. Non ligula egestas commodo massa. Lorem non sit vivamus convallis elit mollis. Viverra sodales feugiat natoque sem morbi hac nunc ultricies nibh netus facilisis blandit. Felis purus et iaculis. Semper orci duis montes curabitur potenti a varius quis diam, vel litora et? Quis ridiculus pharetra luctus augue duis.</p>

                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring natoque sem morbi hac nunc ultricies.</p>


                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 sidebar-area sidebar-right">
                <div class="mt-sm-30">

                    <div class="widget">
                        <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Son Haberler</h4>
                        <div class="latest-posts">
                            <article class="post clearfix pb-0 mb-20">
                                <a class="post-thumb" href="#"><img src="/images/blog/s1.jpg" alt="images"></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="#">Haber 1</a></h5>
                                    <span class="post-date">
                                        <time class="entry-date" datetime="2021-05-15T06:10:26+00:00">06.01.2023</time>
                                    </span>
                                </div>
                            </article>
                            <article class="post clearfix pb-0 mb-20">
                                <a class="post-thumb" href="#"><img src="/images/blog/s2.jpg" alt="images"></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="#">Haber 2</a></h5>
                                    <span class="post-date">
                                        <time class="entry-date" datetime="2021-05-15T06:10:26+00:00">05.01.2023</time>
                                    </span>
                                </div>
                            </article>
                            <article class="post clearfix pb-0 mb-20">
                                <a class="post-thumb" href="#"><img src="/images/blog/s1.jpg" alt="images"></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="#">Haber 3</a></h5>
                                    <span class="post-date">
                                        <time class="entry-date" datetime="2021-05-15T06:10:26+00:00">07.01.2023</time>
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="widget widget_meta">
                        <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Hizmetlerimiz</h4>
                        <ul>
                            <li><a href="#">Hava Analizleri</a></li>
                            <li><a href="#">Atık Su Analizleri</a></li>
                            <li><a href="#">Toprak Analizleri</a></li>
                            <li><a href="#">Atık Yağ Analizleri</a></li>
                            <li><a href="#">Gürültü Analizi</a></li>
                        </ul>
                    </div>

                    <div class="widget widget_text text-center">
                        <div class="textwidget">
                            <div class="section-typo-light bg-theme-colored1 mb-md-40 p-30 pt-40 pb-40">
                                <img class="size-full wp-image-800 aligncenter" src="/images/headphone-128.png" alt="images" width="128" height="128">
                                <h4>Bize Ulaşın!</h4>
                                <h5>0 262 351 29 66</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

