@model List<EntityLayer.Concrete.Slider>


    <div class="home-slider owl-carousel js-fullheight">

        @foreach (var x in Model)
        {
            <div class="home-slider owl-carousel js-fullheight">
                <div class="slider-item js-fullheight" style="background-image:url(/SliderImages/@x.SliderImage); ">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                            <div class="col-md-12 ftco-animate">
                                <div class="img d-flex align-items-center justify-content-center">
                                    <div class="text text-center">
                                        <h1>@x.SliderBaslik</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               
            </div>


           @* <div class="slider-item js-fullheight">
                <img style="background-image: url(/SliderImages/@x.SliderImage);width:100%; height:100%;">
                
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                        <div class="col-md-12 ftco-animate">
                            <div class="img d-flex align-items-center justify-content-center" >
                                <div class="text text-center">
                                    <h2>@x.SliderBaslik</h2>
                                    <h2>@x.SliderAltBaslik</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@


        }
    </div>

